.container{
    height: 60px;
    width: 250px;
    border: 1px solid black;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.list > li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}